@model List<Estoque>
@{
    ViewData["Title"] = "Estoque";
    var produtosCriticos = ViewBag.ProdutosCriticos as List<Estoque>;
}

<h2>Estoque</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Produto</th>
            <th>Atual</th>
            <th>Mínimo</th>
            <th>Máximo</th>
            <th>Localização</th>
			<th>Editar Max./Min.</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var isCritico = item.EstoqueAtual < item.EstoqueMinima;
            <tr class="@(isCritico ? "table-danger" : "")">
                <td>@item.Produto?.Nome (@item.IdProduto)</td>
                <td>@item.EstoqueAtual</td>
                <td>@item.EstoqueMinima</td>
                <td>@item.EstoqueMaxima</td>
                <td>@item.Localizacao</td>
                <td>
                    <a asp-action="EditarEstoque" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">Editar</a>
                </td>

            </tr>
        }
    </tbody>
</table>

@if (produtosCriticos != null && produtosCriticos.Any())
{
    <div class="alert alert-danger">
        <strong>Atenção:</strong> Existem produtos com estoque abaixo do mínimo!
    </div>
}
